<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.prime.com.tr/ui">
	
<ui:composition template="/paginas/template.xhtml">
	<ui:define name="header">
		<br/>
	    <h1><h:outputText value="Colegio" style="color: red" /></h1>
	</ui:define>
	
	<ui:define name="content">
		<div align="center">
		<h:panelGrid columns="1">
			<h:form id="administrativo" prependId="false">
				<div align="center">
					<br />
					<h1><h:outputText value="AGREGAR ESTUDIANTE" style="color: red" /></h1>
					<br />
				</div>	
				<br />	
				<p:growl id="growl" showDetail="true" life="3000" /> 
				<p:panel id="panel" header="Nuevo Estudiante" style="margin-bottom:10px;">
					<p:messages /> 
					<div align = "center">
						<h:outputText value="Ingrese los datos del estudiante " style= "color: black" />
					</div>
					<br />
					<div align = "center">
						<h:panelGrid columns="3">
							<h:outputText value="Cedula:" style="color: black" partialSubmit="true"/>
							<h:inputText id="cedula" value="#{administracionBean.estudiante.cedula}" required="true" requiredMessage = "Ingrese la cedula del estudiante" rendered="#{administracionBean.accion == 'registrar'}"  >
								<f:validateLongRange minimum="1"/> 
							</h:inputText>
							<h:inputText id="cedulaLeer" value="#{administracionBean.estudiante.cedula}" required="true" readonly="true" rendered="#{administrativoBean.accion != 'registrar'}" >
									<f:validateLongRange minimum="1"/> 
							</h:inputText>
							<p:message for="cedula" />
							
							<h:outputText value="Nombre:" style="color: black"/> 
							<h:inputText id="nombre" value="#{administracionBean.estudiante.nombre}" required="true" requiredMessage = "Ingrese el nombre del estudiante"> 
								<f:validateLength minimum="2" maximum="50" /> 
							</h:inputText>
							<p:message for="nombre" />
							
							<h:outputText value="Apellido:" style="color: black"/> 
							<h:inputText id="apellido" value="#{administracionBean.estudiante.apellido}" required="true" requiredMessage = "Ingrese el apellido del estudiante"> 
								<f:validateLength minimum="2" maximum="50" /> 
							</h:inputText>
							<p:message for="apellido" />
							
							<h:outputText value="Sexo:" style="color: black"/>
							<h:selectOneMenu value="#{administracionBean.estudiante.sexo}">
								<f:selectItem itemValue="Masculino" />
								<f:selectItem itemValue="Femenino" />
							</h:selectOneMenu>
							<br/>
						</h:panelGrid>
						
						<h:panelGrid columns="3">
							<h:outputText value="Colegios:" style="color: black" />
							<h:selectOneMenu value="#{administracionBean.colegio}">
								<f:selectItems value="#{administracionBean.colegios}" />
							</h:selectOneMenu>
							<p:commandButton value="Agregar Colegio" update="administrativo fdatos" 
							actionListener="#{administracionBean.adicionarColegio}" style="margin-right:20px;" />
						</h:panelGrid>
						<br />
						
						<p:commandButton value="Aceptar" update="administrativo fdatos" 
						actionListener="#{administracionBean.adicionarEstudiante}" style="margin-right:20px;" rendered="#{administracionBean.accion == 'registrar'}"/>
						<p:commandButton value="Actualizar" update="administrativo fdatos" 
						actionListener="#{administracionBean.actualizarEstudiante}" style="margin-right:20px;" rendered="#{administracionBean.accion != 'registrar'}"/>
						<p:commandButton value="Cancelar" update="administrativo fdatos" 
						actionListener="#{administracionBean.cancelar}" style="margin-right:20px;" rendered="#{administracionBean.accion != 'registrar'}"/>
					</div>
				</p:panel>
			</h:form>
		</h:panelGrid>
	</div>
		
	<div align="center">
		<br />
		<h1>
		<h:outputText value="ESTUDIANTES EXISTENTES EN LA BASE DE DATOS" style="color: red" />
		</h1>
		<br />
	</div>
	<div align="center">
		<h:panelGrid columns="1">
			<h:form id="fdatos" prependId="false">
				<p:dataTable id="tabla" value="#{administracionBean.estudiantes}" var="estudiante" paginator="true" rows="5" emptyMessage="No hay estudiantes registrados">
					<p:column filterBy="#{estudiante.cedula}" filterMatchMode="startsWith" footerTex="comienza por">
						<f:facet name="header">
							<h:outputText value="Cedula" />
						</f:facet>
						<h:outputText value="#{estudiante.cedula}"/>
					</p:column>
					<p:column filterBy="#{estudiante.nombre}" filterMatchMode="startsWith" footerTex="comienza por">
						<f:facet name="header">
							<h:outputText value="Nombre" />
						</f:facet>
						<h:outputText value="#{estudiante.nombre}" />
					</p:column>
					<p:column filterBy="#{estudiante.apellido}" filterMatchMode="startsWith" footerTex="comienza por">
					   <f:facet name="header">
							<h:outputText value="Apellido" />
						</f:facet>
						<h:outputText value="#{estudiante.apellido}"/>
					</p:column>
					<p:column filterBy="#{estudiante.sexo}" filterMatchMode="startsWith" footerTex="comienza por">
					<f:facet name="header">
							<h:outputText value="Sexo" />
						</f:facet>
						<h:outputText value="#{estudiante.sexo}"/>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Eliminar" />
						</f:facet>
						<p:commandButton update="display"
							oncomplete="dialogoEliminar.show()" image="ui-icon ui-icon-trash">
							<f:setPropertyActionListener value="#{estudiante}"
								target="#{administracionBean.estudiante}" />
						</p:commandButton>
					</p:column>
					<p:column>
							<f:facet name="header"><h:outputText value="Actualizar" /></f:facet> 
							<p:commandButton update="administrativo" image="ui-icon ui-icon-refresh">
								<f:setPropertyActionListener value="actualizar"	target="#{estudianteBean.accion}" />
								<f:setPropertyActionListener value="#{estudiante}"	target="#{administracionBean.estudiante}" />
							</p:commandButton>
					</p:column>
				</p:dataTable>
				
				<div align="center">
					<p:panel id="panelExportacion" header="Exportacion" style="margin-bottom:10px;">
						<div align="center">
							<h:panelGrid columns="5">
								<h:outputText value="Exportar datos de la tabla:" style="color: black" />
								<h:commandLink>
									<p:graphicImage value="/images/pdf.png" />
									<p:dataExporter type="pdf" target="tabla" fileName="estudiantes" />
								</h:commandLink>
								<h:commandLink>
									<p:graphicImage value="/images/excel.png" />
									<p:dataExporter type="xls" target="tabla" fileName="estudiantes" />
								</h:commandLink>
								 <h:commandLink>  
						            <p:graphicImage value="/images/csv.png" />  
						            <p:dataExporter type="csv" target="tabla" fileName="estudiantes" />  
						        </h:commandLink>  
						        <h:commandLink>  
						            <p:graphicImage value="/images/xml.png" />  
						            <p:dataExporter type="xml" target="tabla" fileName="estudiantes" />  
						        </h:commandLink> 
							</h:panelGrid>
						</div>
					</p:panel>
				</div>
				
			<p:dialog header="Administrativo" widgetVar="dialogoEliminar"
				resizable="false" width="300" showEffect="explode"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4">
					<h:outputText value="Cedula:" />
					<h:outputText value="#{administracionBean.estudiante.cedula}" />
					<h:outputText value="Nombre:" />
					<h:outputText value="#{administracionBean.estudiante.nombre}" />
					<h:outputText value="Edad:" />
					<h:outputText value="#{administracionBean.estudiante.apellido}" />
					<h:outputText value="Genero:" />
					<h:outputText value="#{administracionBean.estudiante.sexo}" />
					<h:outputText value="Colegio al que pertenece:" />
					<h:outputText value="#{administracionBean.estudiante.colegio.nombre}" />
					<p:commandButton update="fdatos administrativo"
						actionListener="#{administracionBean.eliminarEstudiante}"
						oncomplete="dialogoEliminar.hide()" value="Eliminar">
						<f:setPropertyActionListener value="#{estudiante}"
							target="#{administracionBean.estudiante}" />
					</p:commandButton>
					<p:commandButton oncomplete="dialogoEliminar.hide()"
						value="Cancelar">
					</p:commandButton>

				</h:panelGrid>
			</p:dialog>
			</h:form>
		</h:panelGrid>
		</div>	
	</ui:define>
	
	<ui:define name="footer">
	</ui:define>
</ui:composition>
</html>